spring:
  application:
    name: PetProject
    scheduling:
      enabled: false
      period: 30000
  profiles:
    active: local

interaction:
  rate:
    baseUrl: http://localhost:8081
    stub: false